body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'CustomFont', Arial, bold;
}

footer a {
  color: white;
  text-decoration: none;
  background: linear-gradient(to right, #00FFFF, #1E90FF, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 350px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  font-family: 'CustomFont', Arial, sans-serif;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
  width: 60%;
  max-width: 500px;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'CustomFont', Helvetica, sans-serif;
}

button.delete-btn {
  display: block;
  margin: 50px auto 0;
  padding: 15px 30px;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'CustomFont', Arial, sans-serif;
}

button.delete-btn:hover {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6);
  transform: translateY(6px);
  transform: translateX(6px);
}
